.App {
  text-align: center;
}

.App, html{
  background-color: rgb(241,241,241);
  background: linear-gradient(90deg, rgba(241,241,241,1) 35%, rgba(255,255,255,1) 100%);}

.center {
  display: flex;
  justify-content: center;
}

.card-img {
  padding: 0.8em;
}

.detail-img {
  padding: 0.8em;
  max-width: 60vw;
}

.full-height {
  min-height: 94vh;
}

.nav-container {
  display: flex;
  width: 100vw;
}

.nav-container > * {
  justify-content: space-between;
}

ul {
  list-style-type: none;
  font-weight: 600;
}

a {
  font-weight:400;
  text-decoration: none !important;
  color:black;
}

a:hover {
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: .5em;
  justify-items: center;
}

.mallet-card {
  min-height: 496px;
  margin-bottom: 1.4em;
  margin-top: 1em;
}

.card {
  margin-bottom: 1.4em;
  margin-top: 1em;
}

.cardbody {
  position:absolute;
  bottom: 10px;
}

h1 {
  padding: 1em;
}

